snippet cl "Console.log()" w
console.log(${1});
endsnippet

snippet fn "Anonymous function" w
function(${1}) { ${2} }
endsnippet

snippet pkg "Template package.json file" b
{
    "name": "${1:...}",
    "version": "${2:0.0.1}",
    "private": "true"
}
endsnippet

