snippet if "if <condition> ... end"
if ${1:condition}
	${2:# TODO}
end
endsnippet

snippet "\b(de)?f" "def <name>..." r
def ${1:function_name}${2: ${3:*args}}
	${0:# TODO}
end
endsnippet

snippet Each "<elements>.each { |<element>| <block> }"
${1:elements}.each { |${2:${1/s$//}}| ${3:# TODO} }
endsnippet

snippet each "<elements>.each do |<element>| <block> end"
${1:elements}.each do |${2:${1/s$//}}|
	${0:# TODO}
end
endsnippet
